.item-button button {
    width: 150px;
    margin-top: 20px;
    background-color: gray;
    color: white;
}

.spinner {
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    margin-bottom: 12000x;
    z-index: 100;

}

.spinner-grow {
    height: 100px;
    width: 100px;
}

.category {
    margin-top: -35px;
    border: 2px solid rgb(179, 176, 176);
    margin-right: 50px;
    align-items: center;
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
}

.category h4 {
    margin-right: 25px;
    font-size: 22px;
}

.category img {
    border-radius: 10px;
    margin: -3px;
    border: 2px solid rgb(179, 176, 176);
}

.category-active {
    border: 3px solid lightgreen;
    background-color: rgb(140, 237, 160);
}